/* Estilo para el fondo del cuerpo del documento */
.body{

    background-color: rgb(222, 217, 217);

}
/* Estilo para el primer triángulo */
.triangulo{
width: 0px;
height: 0px;
border: 85px solid transparent;
border-top: 0;
border-bottom: 65px solid red;
/* transform: rotate(270deg); */
margin-left: auto;
margin-right: auto;
display: block;
}
/* Estilo para el segundo triángulo */
.triangulo1{
 width: 0px;
height: 0px;
border: 100px solid transparent;
border-top: 0;
border-bottom: 100px solid red;
transform: rotate(-90deg);
margin-left: 400px;
margin-right: auto;
margin-top: -198px;
display: block; 
}
/* Estilo para el tercer triángulo */
.triangulo2{
width: 0px;
height: 0px;
border: 99px solid transparent;
border-top: 0;
border-bottom: 99px solid red;
transform: rotate(90deg);
margin-left: 665px;
margin-right: auto;
margin-top: -100px;
display: block; 
}

/* Estilo para el cuerpo del cohete */
.coete{
width: 165px;
height: 300px;
/* border-radius: 50%; */
background-color: red;
border-style: solid;
margin-bottom: 10px;
display: block;
margin-left: auto;
margin-right: auto;
}

/* Estilo para un cuadrado */
.cuadro{

width: 100px;
height: 30px;
/* border-radius: 50%; */
background-color: red;
border-style: solid;
margin-bottom: 10px;
display: block;
margin-top: 12px;
margin-left: 590px;
margin-right: auto;

}
/* Estilo para otro cuadrado más pequeño */
.cuadro2{

width: 20px;
height: 30px;
background-color: red;
border-style: solid;
margin-bottom: 10px;
display: block;
margin-top: -47px;
margin-left: 650px;
margin-right: auto;

}

.triangulo3{
width: 0px;
height: 0px;
border: 13px solid transparent;
border-top: 0;
border-bottom: 22px solid red;
transform: rotate(-180deg);
margin-left: 590px;
margin-right: auto;
margin-top: -100px;
display: block; 
}


/* Estilo para el fondo del cuerpo del documento */
.body {
    background-color: rgb(222, 217, 217);
}

/* Estilo para el primer triángulo */
.triangulo {
    width: 0px;
    height: 0px;
    border: 85px solid transparent;
    border-top: 0;
    border-bottom: 65px solid red;
    /* transform: rotate(270deg); */
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* Estilo para el segundo triángulo */
.triangulo1 {
    width: 0px;
    height: 0px;
    border: 100px solid transparent;
    border-top: 0;
    border-bottom: 100px solid red;
    transform: rotate(-90deg);
    margin-left: 400px;
    margin-right: auto;
    margin-top: -198px;
    display: block;
}

/* Estilo para el tercer triángulo */
.triangulo2 {
    width: 0px;
    height: 0px;
    border: 99px solid transparent;
    border-top: 0;
    border-bottom: 99px solid red;
    transform: rotate(90deg);
    margin-left: 665px;
    margin-right: auto;
    margin-top: -100px;
    display: block;
}

/* Estilo para el cuerpo del cohete */
.coete {
    width: 165px;
    height: 300px;
    /* border-radius: 50%; */
    background-color: red;
    border-style: solid;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Estilo para un cuadrado */
.cuadro {
    width: 100px;
    height: 30px;
    /* border-radius: 50%; */
    background-color: red;
    border-style: solid;
    margin-bottom: 10px;
    display: block;
    margin-top: 12px;
    margin-left: 590px;
    margin-right: auto;
}

/* Estilo para otro cuadrado más pequeño */
.cuadro2 {
    width: 20px;
    height: 30px;
    background-color: red;
    border-style: solid;
    margin-bottom: 10px;
    display: block;
    margin-top: -47px;
    margin-left: 650px;
    margin-right: auto;
}

/* Estilo para otro triángulo */
.triangulo4{
width: 0px;
height: 0px;
border: 13px solid transparent;
border-top: 0;
border-bottom: 22px solid red;
transform: rotate(-180deg);
margin-left: 650px;
margin-right: auto;
margin-top: -23px;
display: block; 

}